<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Article</title>
    <link rel="stylesheet" href="/new.css">
</head>

<body>
    <div class="container">
        <form  method = "post" action="/articles">
            <input name="username"   placeholder="Enter your name" /><br>
            <input name="contact"   placeholder="Enter your email" />
            <textarea name="content"  placeholder="Write your Article"> </textarea><br>
            <button>Submit</button>
        </form>
    </div>
</body>

</html>