<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in details: </title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div class="show">
        <h2>Here is your Post in details: </h2>
        <p> post id: <%= article.id %>
        </p>
        <div class="post">
            <h3 class="user">@<%= article.username %>
            </h3>
            <h4>
                <%= article.content %>
            </h4>

        </div>
    </div>

</body>

</html>